body{
  background: url(src/assets/pexels-malidate-van-784632.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-position: 30% 45%;
  background-size: cover;
}
main{
  display: flex;
  width: 35em;
  margin: 30px auto;

}
.cart3{

  background: #ff0000;
  margin: 0 auto;
  width: 200px;
  height: 100px;
  margin-top: 19em;
  margin-left: -18.8em;
  background: url(src/assets/pexels-pixabay-416663.jpg) no-repeat center fixed;
  width: 100%;
  height: 31vh;
  padding: 42px ;
  background-position: 20% 40%;
  color: white;

}
.cart1{
  background: #ff0000;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  background: url(src/assets/pexels-maurijn-pach-546945.jpg) no-repeat center center fixed;
  width: 100%;
  height: 80vh;
  padding: 100px 0;
  background-position: 30% 45%;
  background-size: cover;
  color: white;
}

/*  */



.cart2{
  margin: 0 auto;
  width: 200px;
  height: 300px;
  background: url(src/assets/pexels-valeria-boltneva-1639557.jpg) no-repeat center fixed;
  width: 100%;
  height: 50vh;
  padding: 40px ;
  background-position: 30% 45%;
  background-size: cover;
  color: white;
}
