
body{
  background: url(src/assets/pexels-malidate-van-784632.jpg) no-repeat center center fixed;

  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-position: 30% 45%;
  background-size: cover;

  background-position: 10% 10%;
  background-size: cover;
}
main{
 margin: auto;
 margin-top: 3em;
 width: 54em;
}



.mat-grid-tile {
  background: lightblue;

}
.container_side{
  height: 100%;
  background-image: url('src/assets/macarrao.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 50em;

}
.container_side:hover, .container_right:hover,.container_right2:hover{
  opacity: 0.9;
  cursor:pointer
}
.container_right2{
  background-image: url('src/assets/hamburguer.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 30em;
}
.container_right{
  margin-left: 50.1%;
  background-image: url('src/assets/churro.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size:30em;
}
.title{
  color: white;
  margin-top: 10em;
  margin-left: -5em;
}
.title_side{
  color: white;
  margin-top: 20em;
  margin-left: -14em;
}
.search_mater
{
  background-color: rgb(121, 121, 121);
  margin-left: 55em;
  border-radius: 5px;
  width: 200px;
}
