<body>



  <mat-form-field class="search_mater">
    <mat-icon matPrefix class="icon">search</mat-icon>
    <input matInput type="search" placeholder="search here" class="search-input"/>
</mat-form-field>

<main>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="container_side"><h2 class="title_side">Macaronada</h2></mat-grid-tile>
    <mat-grid-tile class="container_right2"><h2 class="title">Lanche com hamburguer artesanal</h2></mat-grid-tile>
    <mat-grid-tile class="container_right"><h2 class="title">Churros com doce de leite</h2></mat-grid-tile>
  </mat-grid-list>

</main>


</body>


    <!-- <div class="cart1"> <h2>Macarronada</h2></div>
    <div class="cart2"><h2>lanche com hamburguerartesanal</h2></div>
    <div class="cart3"><h2>churros com doce de leite</h2></div> -->

