<nav class="navbar shadow">
  <div class="container-fluid">

    <button class="buttum_icon" type="button"
    data-bs-toggle="modal" data-bs-target="#exampleModal">
      <mat-icon class="icon">menu</mat-icon>
    </button>

    <span class="navbar-brand mb-0 h1">LOGO</span>

<!--
      <mat-icon class="personIcon">person</mat-icon>

    <mat-icon class="exit_icon">exit_to_app</mat-icon> -->

  </div>
</nav>

 <!--  -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button class="buttum_icon" type="button" data-bs-dismiss="modal">
          <mat-icon class="icon" >menu</mat-icon>
        </button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Minhas receitas</li>
          <li class="list-group-item" routerLink="/receitas">receitas</li>

        </ul>

      </div>

    </div>
  </div>
</div>
