
.navbar{
  background-image: linear-gradient( 176.6deg,  rgba(244,105,4,1) 7.4%, rgba(218,92,0,1) 91.9% );
   padding: 20px;
   position: absolute;
   top: 0px;
   width: 100%;



}
.navbar-brand {
  display: block;
  margin: auto;
  color: white;
}

.h1{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: right;
  cursor:pointer
}



  .buttum_icon{
    background-color: rgba(255, 254, 254, 0);
   border: 0px;
   color: aliceblue;

  }
  .personIcon{
    color: white;
    width: 40px;
  }

  .exit_icon{
    color: white;
  }



.modal{
  width: 300px;


}
.modal-content{
  width: 300px;
  background-color: #C06027;
}
.list-group-item:hover{

  background-color:rgba(126, 252, 0, 0.196);
  cursor: pointer;
}
.list-group-item{
  background-color: #C06027;
}
